%p
  %b
    Name:
  = h @person.name

%ul{:style=>"color:maroon"}
  %li
    Uploads will be deleted <strong>15 minutes</strong> after its creation. 
  %li
    Upload size is limited to <strong>500 KBytes</strong>.

= fancy_uploads @person, { :new_upload_label => "Add Upload", :per_page => 2, :include_jquery => false }

= link_to 'Back', people_path
|
= link_to_function "Page Code", "$j('#page_code').toggle('slow');"
  
%pre#page_code{:style=>"display:none;"}
  :preserve  
    %p
      %b
        Name:
      = h @person.name

    = fancy_uploads @person, { :new_upload_label => "Add Upload", :per_page => 10, :include_jquery => false }

    = link_to 'Back', people_path
  
    
